{% extends "base.html" %}

{% block aboutactive %} active {% endblock aboutactive %}
{% block title %} About Me {% endblock title %}

{% block body %}
<div class="container my-3">
  <h2 class="text-center my-3 py-3">About Me</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/500x300/?code, machine-learning" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Developer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/500x300/?code, pyhton" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Designer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/500x300/?code, JavaScript" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Entertainer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <h1 class="my-4">My Coding Video</h1>
  <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xzxI-7mWVCI?rel=0"
      allowfullscreen></iframe>
  </div>
  <p>
  <div class="34">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rem ducimus,
    earum dolor obcaecati quasi corrupti officiis tenetur velit quos illum ratione unde repellat odit aliquid a
    corporis,perferendis magni?</div>
  </p>
</div>

{% endblock body %}